.heading-mw {
  margin-top: 80px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.heading-mw > h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 68px;
  color: #b2bbc6;
}
.heading-mw > h1 > b {
  font-weight: 600;
}
.image-mw {
  width: 616px;
  height: 493px;
}
.image-mw img {
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}
.main-para-mw p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #909dad;
  margin-top: 30px;
}
.main-para-mw p > span {
  color: #ffffff;
}
.exp-bar-mw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exprience-title-mw h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.experience-underline {
  background: linear-gradient(180deg, #ed787b 0%, #df5b5d 100%);
  border-radius: 80px;
  width: 41.04px;
  height: 6px;
  margin-top: 20px;
}
.experience-tiles-mw > div {
  margin-top: 40px;
}
.download-res-mw {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ec7a7d;
}
.tile-exp-mw {
  background: #1d242d;
  padding: 32px 44px;
  border: 1px solid #3d4c5e;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.para-tile-mw {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
  width: 60%;
}
.tile-tile-mw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile-tile-mw p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
}
.tile-tile-mw h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #d6dff0;
  margin-top: 16px;
  margin-bottom: 8px;
}
.tile-tile-mw div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
}
@media only screen and (max-width: 960px) {
  .main-about {
    padding: 0px 44px;
  }
  .width-change-about {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .image-mw {
    width: 280px;
    height: 375px;
  }
  .heading-mw > h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #b2bbc6;
  }
  .tile-exp-mw {
    flex-direction: column;
  }
  .para-tile-mw {
    width: 100%;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .exp-bar-mw {
    display: block;
  }
  .download-res-mw {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .image-mw {
    display: none;
  }
  .heading-mw > h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #b2bbc6;
  }
  .main-para-mw p {
    font-size: 14px;
  }
}
