.flag-mtbp {
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151a20;
  border-radius: 50%;
}
.flag-mtbp img {
  width: 15px;
  height: 17px;
}
.problem-mtbp {
  background: linear-gradient(
    257.49deg,
    #722d17 15.44%,
    #a55d29 140.46%
  ) !important;
}
.research-goal-mtbp {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d6dff0;
}
.two-research-mtbp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.two-research-mtbp > div {
  width: 456px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px 40px;
}
.two-research-mtbp > div h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #d6dff0;
}
.two-research-mtbp > div > div > div {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d6dff0;
}
.two-research-mtbp > div strong {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 24px;
  color: #d6dff0;
}
.two-research-mtbp > div > div > div:last-child {
  padding-bottom: 32px;
  padding-left: 16px;
  padding-top: 20px;
  padding-right: 35px;
}
.bg-color-diff-mtbp {
  background: #1d242d;
}
.inner-finding-mtbp > div {
  background: #151a20;
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  width: 300px;
}
.research-finding-mtbp > h3 {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.partition-line-mtbp {
  width: 100%;
  opacity: 0.5;
  border: 1px solid #7d7d7d;
}
.user-saying-mtbp h3 {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.users-mtbp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.users-mtbp > div {
  width: 457px;
  background: #151a20;
  border: 0.5px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 32px;
  display: flex;
  gap: 24px;
}
.users-mtbp > div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #909dad;
}
.inner-user-mtbp div {
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #909dad;
}
.inner-user-mtbp p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
}
.need-pain-mtbp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.need-pain-mtbp > div {
  width: 457px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px 40px;
}
.need-pain-mtbp > div > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}
.need-pain-mtbp > div > div:last-child > div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.need-pain-mtbp h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #d6dff0;
}
.need-pain-mtbp div {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.desires-mtbp {
  margin-top: 48px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px 40px;
}
.desires-mtbp > div {
  display: flex;
  gap: 12px;
  align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #909dad;
}
.desires-mtbp > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #d6dff0;
}
.goal-feature-mtbp h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.technical-specification-mtbp > div {
  width: 70%;
  margin-top: 10px;
}
.technical-specification-mtbp > div:first-child {
  width: 100%;
}
.technical-specification-mtbp strong {
  font-weight: 700;
}
.technical-specification-mtbp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.p1-mtbp {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.p2-mtbp {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #d6dff0;
}
.feature-mtbp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature-mtbp > div {
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px;
  width: 216px;
  margin-bottom: 20px;
}
.feature-mtbp img {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}
.feature-mtbp p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2bbc6;
}
.feature-mtbp h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #d6dff0;
  margin-bottom: 10px;
}
.user-flows-mtbp h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
  margin-bottom: 32px;
}
.user-flows-mtbp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  margin-bottom: 56px;
}
.user-flow-image {
  width: 100%;
  height: 1633px;
}
.user-flow-image img {
  object-fit: fill;
}
.wireframe-mtbp-bg {
  background: linear-gradient(257.49deg, #722d17 15.44%, #a55d29 140.46%);
  opacity: 0.7;
  border-radius: 4px;
}
.usability-testing-mtbp {
  background: #1d242d;
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  padding: 64px 56px;
  padding-right: 116px;
}
.usability-testing-mtbp h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.usability-testing-mtbp strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #909dad;
}
.usability-testing-mtbp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.usability-inner-mtbp > div {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #d6dff0;
  margin-bottom: 16px;
}
