.link-active {
  color: #ec7a7d;
  font-weight: 600;
}
.back-to-top {
  position: fixed;
  left: 90%;
  bottom: 80px;
  z-index: 99;
  cursor: pointer;
  color: white;
}
.back-to-top img {
  margin: auto;
  width: 50px;
}
.back-to-top p {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
.dark-mode-ln {
  border: 1px solid #ec7a7d;
}
.footer-navs * {
  color: #909dad;
}
.footer-contents h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 24px;
  color: #b2bbc6;
}
.footer-contents {
  padding-bottom: 1px;
  margin: 0 auto;
}
.footer-contents p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 30%;
  text-align: center;
  color: #b2bbc6;
}
.footer-contents div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
}
.contact-foot {
  display: flex;
  gap: 12px;
}
.all-nav-foot {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 14px auto;
}
.bottom-navs {
  display: flex;
  gap: 40px;
}

.secondnav-foot {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .back-to-top {
    left: 90%;
  }
  .footer-contents p {
    width: fit-content;
  }
  .all-nav-foot .contact-foot {
    display: none;
  }
  .all-nav-foot {
    display: block;
    width: 90%;
  }
  .secondnav-foot {
    display: block;
  }
  .secondnav-foot > div:last-child {
    margin: 14px 0;
    display: flex;
    justify-content: space-evenly;
  }
  .bottom-navs {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 570px) {
  .back-to-top {
    left: 80%;
  }
  .footer-contents {
    height: fit-content;
  }
  .footer-contents p {
    width: fit-content;
  }
  .all-nav-foot .contact-foot {
    display: none;
  }
  .all-nav-foot {
    display: block;
    width: 90%;
  }
  .secondnav-foot {
    display: block;
  }
  .secondnav-foot > div:last-child {
    margin: 14px auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .bottom-navs {
    display: flex;
    flex-direction: column;
  }
  .bottom-navs > div {
    margin: 0 auto;
  }
  .contact-foot {
    margin: 0 auto;
  }
  .back-to-top {
    position: fixed;
    left: 80%;
    bottom: 40px;
    z-index: 99;
    cursor: pointer;
    color: white;
  }
  .back-to-top img {
    margin: auto;
    width: 50px;
    opacity: 0.3;
  }
  .back-to-top p {
    display: none;
  }
}
