.tripp-intro-card {
  width: 95%;
  min-height: 500px;
  margin: auto;
  margin-top: 76px;
}
.context-background-tripp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
  width: 100% !important;
}
.solution-tripp {
  background: linear-gradient(227.16deg, #292240 -2.62%, #701c49 74.06%);
  border-radius: 8px;
  padding: 48px 56px;
}
.solution-tripp h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.solution-tripp>div div {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: fit-content;
  color: #b2bbc6;
}
.solution-tripp > div {
  margin-left: 4%;
  display: flex;
  align-items: flex-start;
  gap: 2%;
}
.solution-tripp > div img {
  width: 24px;
}
.research-tripp > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  width: 100%;
}
.user-target-tripp {
  background: #151a20;
  border-radius: 4px;
  padding: 40px 48px;
}
.user-target-tripp h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #b9b9b9;
}
.users-tripp div {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.user-type-tripp {
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 20px !important;
}
.users-tripp img {
  width: 40px;
}
.demographies-tripp div {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.demographies-tripp ul {
  list-style: disc;
  margin-left: 20px;
}
.demographies-tripp li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #909dad;
  margin-top: 5px;
}
.demography-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #b2bbc6;
  margin-top: 32px;
}
.demographies-tripp > div {
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  padding: 26px 20px;
  width: 268px;
}
.personality-tripp > div {
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  width: 413px;
  padding: 26px 20px;
}
.personality-tripp div {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.personality-tripp li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #909dad;
}
.personality-tripp ul {
  list-style: disc;
  margin-left: 15px;
}
.personality-tripp li {
  margin-top: 5px;
}
.down-buttons-tripp div {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b2bbc6;
  background: #1d242d;
  border-radius: 80px;
  padding: 6px 12px;
  min-width: max-content;
}
.user-testimonial-tripp > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 23px;
}
.user-testimonial-tripp img {
  max-width: none;
  width: 100%;
  height: 100%;
}
.user-verbatism-tripp {
  background: #151a20;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #d6dff0;
  display: flex;
  gap: 20px;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  width: 441px;
}
.user-verbatism-tripp2 {
  background: #151a20;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #d6dff0;
  display: flex;
  gap: 20px;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  max-width: 541px;
  flex-wrap: nowrap !important;
}
.user-verbatism-tripp p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #909dad;
}
.user-verbatism-tripp2 p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #909dad;
}
.parttion-line-tripp {
  opacity: 0.5;
  border: 1px solid #7d7d7d;
  width: 90%;
  margin: auto;
}
.graphs-para-tripp {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  margin-bottom: 32px;
}
.graph-tripp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.graph-tripp > div {
  background: #151a20;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 457px;
  padding: 20px 32px;
  margin-bottom: 44px;
}
.graph-tripp h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b2bbc6;
}
.graph-tripp p {
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  color: #909dad;
}
.pie-graph-tripp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pie-graph-tripp > div {
  background: #151a20;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 22px;
  width: 290px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #909dad;
}
.pie-graph-tripp ul {
  list-style: disc;
  font-weight: 400;
  font-size: 7.6926px;
  line-height: 9px;
  color: #b2bbc6;
  width: 128px;
  margin: auto;
  text-align: start;
}
.pie-graph-tripp li {
  margin-bottom: 8px;
}
.secondary-research-tripp h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #b9b9b9;
  margin-bottom: 24px;
}
.secondary-research-tripp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  width: 92%;
}
.secondary-research-tripp table {
  width: 100%;
  margin-top: 40px;
}
.table1-tripp {
  background: linear-gradient(227.16deg, #292240 -2.62%, #701c49 74.06%);
  border: 1px solid rgba(91, 91, 91, 0.5);
  border-radius: 4px 4px 0px 0px;
  width: 100%;
}
.table1-tripp th {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 14px 24px;
  text-align: center;
  border-right: 1px solid rgba(91, 91, 91, 0.5);
}
.secondary-research-tripp > table td {
  padding: 24px;
  opacity: 0.5;
  border: 1px solid rgba(91, 91, 91, 0.5);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #b2bbc6;
}
.secondary-research-tripp img {
  margin: auto;
}
.table-details-tripp {
  background: #1d242d;
  opacity: 0.5;
  border: 1px solid rgba(91, 91, 91, 0.5);
  text-align: start !important;
}
.table-header-tripp {
  text-align: start !important;
}
.goal-pain-tripp h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
  margin-bottom: 40px;
}
.goal-pain-div-tripp {
  display: flex;
  justify-content: space-between;
}
.goal-pain-div-tripp > div {
  width: 48%;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 34px 48px;
  
}
.goal-pain-div-tripp>div>div{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.goal-pain-div-tripp h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #d6dff0;
  margin-bottom: 8%;
}
.goal-pain-p-tripp {
  margin-top: 72px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.inner-container-subex strong {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.feature-trppiz > div {
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 216px;
  margin-bottom: 26px;
  padding: 24px;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #d6dff0;
  margin-bottom: 16px;
}
.feature-trppiz p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2bbc6;
}
.value-principle-tripp h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
  margin-bottom: 35px;
}
.value-principle-tripp > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #d6dff0;
}
.budget-search-tripp,
.interactive-tripp,
.stop-booking-tripp {
  background: linear-gradient(227.16deg, #292240 -2.62%, #701c49 74.06%);
  border: 1px solid rgba(91, 91, 91, 0.2);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 50px 48px;
  margin-bottom: 52px;
  display: flex;
  gap: 38px;
}
.budget-search-tripp h3,
.interactive-tripp h3,
.stop-booking-tripp h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.budget-search-tripp ul,
.interactive-tripp ul,
.stop-booking-tripp ul {
  list-style: disc;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #d6dff0;
  margin-top: 24px;
  margin-left: 24px;
}
.budget-search-tripp li,
.interactive-tripp li,
.stop-booking-tripp li {
  margin-bottom: 5px;
}
.budget-image{
  width: 334px;
height: 274px;
}
.budget-image img{
  max-width: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wireframe-tripp-bg {
  background: linear-gradient(227.16deg, #292240 -2.62%, #701c49 74.06%);
  opacity: 0.7;
  border-radius: 4px;
}
.bg-change-tripp {
  background: #1d242d;
}
.budget-based1 {
  width: 98px;
  height: 242px;
  position: absolute;
  top: 0;
  margin-right: 40px;
  right: 0;
  font-size: 200px;
  font-weight: 700;
  line-height: 242.05px;
  opacity: 3%;
  color: #ffffff;
}
.budget-based2 {
  width: 98px;
  height: 242px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 200px;
  font-weight: 700;
  line-height: 242.05px;
  opacity: 3%;
  color: #ffffff;
}
