.dell-Maincontainer {
  max-width: 1440px;
  min-height: 500px;
  /* border: 1px solid red; */
  margin: auto;
}
.dell-MainBoxTop {
  display: flex;
  width: 100%;
  min-height: 200px;
  margin-left: 80px;
}
.dell-MainBox-leftBox {
  width: 598px;
  height: 606px;
  margin-top: 140px;
  /* border: 1px solid white; */
}
.dell-MainBox-leftBox-intro {
  width: 598px;
  height: 221px;
  /* border: 1px solid white; */
}
.dell-MainBox-LeftBox-TimeBox {
  width: 360px;
  height: 48px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.timeBox-Left {
  width: 185px;
  height: 48px;
}
.timeBox-Right {
  width: 87px;
  height: 48px;
}
.fontSize28 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
  color: #d6dff0;
}
.fontSize24 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b2bbc6;
}
.fontSize16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b2bbc6;
}
.fontSize18 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #d6dff0;
}
.fontSize12 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #d6dff0;
}
.dell-MainBox-LeftBox-ContentBox {
  width: 412px;
  height: 156px;
  margin-top: 40px;
  display: flex;
}
.dell-MainBox-LeftBox-ContentBox-Left {
  width: 248px;
  height: 156px;
}
.dell-MainBox-LeftBox-ContentBox-LeftContext {
  width: 142px;
  height: 120px;
  margin: 12px 18px;
}
.marginTop12 {
  margin-top: 12px;
  width: 140px;
  height: 96px;
}
.marginLeft14 {
  margin-left: 14px;
}
.marginTop4 {
  margin-top: 4px;
}
.dell-MainBox-LeftBox-ContentBox-Right {
  width: 140px;
  height: 132px;
  margin-left: 32px;
}
.dell-MainBox-LeftBox-ContrebutionBox {
  width: 543px;
  height: 60px;
  /* border: 1px solid white; */
  margin-top: 41px;
  padding: 5px 0px;
}
.dell-MainBox-RightBox {
  width: 862px;
  height: 792px;
  position: relative;
  /* border: 1px solid white; */
  left: -106px;
}
.dell-Content-MainBox {
  width: 946px;
  height: 661px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 48px 56px;
  margin: 39px 247px;
}
.dell-Content-MainBox>h1{
  font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #B9B9B9;
}
.dell-Content-MainBox-ContextBox {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.dell-Content-MainBox-ContextBox-insideBox {
  width: 262px;
  height: 175px;
  background: #151a20;
  border-radius: 4px;
  padding: 20px 16px;
}
.dell-Content-MainBox-ContextBox-insideBox-TitleBox {
  width: 207px;
  height: 25px;
  display: flex;
}
.dell-Content-MainBox-ContextBox-insideBox-TitleBox-Icon {
  width: 25px;
  height: 25px;
  /* border: 1px solid white; */
  margin-right: 7px;
}
.dell-Content-MainBox-ContextBox-insideBox-Content {
  width: 190px;
  height: 69px;
  margin-top: 15px;
  margin-left: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #d6dff0;
}
.dell-Content-MainBox2 {
  width: 946px;
  height: 421px;
  padding: 48px 56px;
  margin: 41px 247px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.dell-content-Box2 {
  width: 709px;
  height: 41px;
  display: flex;
}
.dell-content-Box2-Icon {
  width: 41px;
  height: 41px;
  /* background: #151a20; */
  margin-right: 17px;
  border-radius: 25px;
}
.dell-content-Box2-Text {
  width: 651px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
  margin-top: 2.5px;
}
.dell-content-Box2-Inside1 {
  width: 836px;
  height: 84px;
  margin-top: 48px;
  display: flex;
}
.dell-content-Box2-Inside1-Icon {
  /* border: 1px solid wheat; */
  width: 40px;
  height: 40px;
  margin-right: 28px;
  margin-top: 7px;
}
.dell-content-Box2-Inside1-Text {
  width: 768px;
  min-height: 84px;
}
.dell-content-Box2-Inside1-Content {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: #b2bbc6;
}
.colorWeight {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}
.dell-Content-MainBox3 {
  width: 946px;
  height: 734px;
  padding: 48px 56px;
  margin: 80px 247px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dell-content-Box3 {
  width: 748px;
  height: 354px;
  margin: 40px 58px;
  display: flex;
}
.dell-content-Box3-Left {
  width: 237px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #d6dff0;
  margin-right: 48px;
}
.dell-content-Box3-Right {
  width: 495px;
  height: 354px;
  display: flex;
}
.dell-content-Box3-Right-Left {
  width: 24px;
  height: 354px;
}
.dell-content-Box3-Right-Right {
  width: 454px;
  margin-left: 17px;
  height: 354px;
}
.Font18 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #b2bbc6;
}
.Box3-Icon1 {
  /* border: 1px solid white; */
  width: 24px;
  height: 24px;
  margin-top: 7px;
  margin-bottom: 85px;
}
.Box3-Icon2 {
  /* border: 1px solid white; */
  width: 24px;
  height: 24px;
  margin-top: 7px;
  margin-bottom: 111px;
}
.Box3-Icon3 {
  /* border: 1px solid white; */
  width: 24px;
  height: 24px;
}
.Box3-Icon4 {
  /* border: 1px solid white; */
  width: 24px;
  margin-top: -28px;
  height: 24px;
}
.DellPageHr1 {
  width: 90%;
  margin: auto;
  opacity: 0.5;
  border: 1px solid #7d7d7d;
}
.dell-Content-MainBox4 {
  width: 774px;
  height: 129px;
  /* border: 1px solid white; */
  margin-left: 247px;
  margin-top: 80px;
}
.Font32 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.Font14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #909dad;
  margin-top: 24px;
}
.dell-Content-MainBox5 {
  width: 1440px;
  height: 2317px;
  margin-top: 48px;
  background: #1d242d;
  padding: 80px 247px;
}
.dell-Content-MainBox5-Box1 {
  width: 673px;
  height: 86px;
  margin-bottom: 48px;
}
.dell-Content-MainBox5-Box2 {
  width: 946px;
  height: 1228px;
  margin-bottom: 48px;
}
.dell-Content-MainBox5-Box3 {
  width: 946px;
  height: 667px;
}
.DellPageHr2 {
  width: 1280px;
  margin: 80px -175px;
  opacity: 0.5;
  border: 1px solid #7d7d7d;
}
.dell-Content-MainBox5-Box1-headingText {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.WhiteFont {
  color: #d6dff0;
}
.dell-Content-MainBox5-Box1-headingText1 {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
}
.dell-Content-MainBox5-Box2-Box1 {
  width: 673px;
  height: 68px;
}
.dell-Content-MainBox5-Box2-Box2 {
  width: 946px;
  height: 1136px;
  margin-top: 24px;
  padding-top: 32px;
  display: flex;
  filter: drop-shadow(0px 312px 125px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 176px 105px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 78px 78px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 20px 43px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
}
.dell-Content-MainBox5-Box2-Box2-Left {
  width: 457px;
  height: 1072px;
  margin-right: 32px;
}
.dell-Content-MainBox5-Box2-Box2-Right {
  width: 457px;
  height: 1072px;
}
.dell-Personal-LeftBox1 {
  padding: 20px;
  width: 457px;
  height: 538px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  border-radius: 12px;
}
.dell-Personal-LeftBox1-Image {
  width: 417px;
  height: 140px;
  border: 1px solid #333333;
  border-radius: 8px;
}
.dell-Personal-LeftBox1-Heading {
  width: 417px;
  height: 58px;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.dell-Personal-LeftBox1-Text {
  width: 417px;
  height: 57px;
  margin-top: 20px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b2bbc6;
}
.dell-Personal-LeftBox1-Profile {
  width: 417px;
  height: 183px;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b2bbc6;
}
.dell-Personal-LeftBox2 {
  padding: 20px;
  margin-top: 16px;
  width: 457px;
  height: 264px;
  background: #1282d6;
  border-radius: 12px;
}
.dell-Personal-LeftBox2-Title {
  width: 417px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d242d;
}
.dell-Personal-LeftBox2-Context {
  width: 417px;
  height: 184px;
  margin-top: 16px;
}
.dell-Personal-LeftBox2-Context ul{
  list-style: disc;
}
.dell-Personal-LeftBox2-Context ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
  line-height: 22px;
  color: #1d242d;
  margin-left: 26px;
}
.dell-Personal-LeftBox3 {
  padding: 24px;
  margin-top: 16px;
  width: 457px;
  height: 238px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  border-radius: 12px;
}
.dell-Personal-LeftBox3-Title {
  width: 409px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.dell-Personal-LeftBox3-Context {
  width: 409px;
  margin-top: 16px;
  height: 150px;
}
.dell-Personal-LeftBox3-Context ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b2bbc6;
  margin-left: 20px;
  margin-top: 12px;
}
.dell-Personal-RightBox1 {
  padding: 24px;
  width: 457px;
  min-height: 200px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  border-radius: 12px;
  margin-bottom: 16px;
}
.dell-Personal-RightBox1-Heading {
  width: 409px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.dell-Personal-RightBox1-Content {
  width: 409px;
  min-height: 100px;
  margin-top: 26px;
}
.dell-Personal-RightBox1-Content ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b2bbc6;
  margin-left: 28px;
  margin-top: 12px;
}
.dell-Content-MainBox5-Box3-Box1 {
  width: 672.69px;
  height: 68px;
}
.dell-Content-MainBox5-Box3-Box1-Heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.dell-Content-MainBox5-Box3-Box1-Text {
  margin-top: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
}
.dell-Content-MainBox5-Box3-Box2 {
  width: 946px;
  height: 567px;
  margin-top: 32px;
}
.Box5-Background {
  background: #151a20;
  display: flex;
  padding: 32px;
  border: 0.5px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.dell-Content-MainBox5-Box3-Box2-B1 {
  position: relative;
  width: 440.86px;
  height: 200px;
  z-index: 1;
}
.dell-Content-MainBox5-Box3-Box2-B2 {
  position: relative;
  width: 398.63px;
  height: 176px;
  left: 545.74px;
  top: -199px;
  z-index: 1;
}
.dell-Content-MainBox5-Box3-Box2-B3 {
  position: relative;
  width: 362.58px;
  height: 176px;
  left: 70px;
  top: -153px;
  z-index: 1;
}
.dell-Content-MainBox5-Box3-Box2-B4 {
  position: relative;
  width: 431.59px;
  height: 200px;
  left: 415.8px;
  top: -386px;
}
.dell-Content-MainBox5-Box3-Box2-B5 {
  position: relative;
  width: 457.34px;
  height: 176px;
  left: 55.97px;
  top: -361px;
}
.dell-Content-MainBox5-Box3-Box2-B6 {
  position: relative;
  width: 352.28px;
  height: 176px;
  left: 592.72px;
  top: -537px;
  z-index: 1;
}
.dell-MainBox5-B1-ProfileIcon {
  width: 64px;
  height: 64px;
  border-radius: 40px;
  /* border: 1px solid white; */
}
.dell-MainBox5-B1-ProfileText {
  min-width: 200px;
  min-height: 136px;
  margin-left: 24px;
}
.dell-MainBox5-B1-Profile-Content {
  width: 272px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.dell-MainBox5-B3-ProfileText {
  width: 200px;
  margin-left: 16px;
}
.dell-MainBox5-B3-Profile-Content {
  width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.dell-MainBox5-B1-ProfileText-box {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  display: flex;
}
.dell-MainBox5-B1-ProfileText-Icon {
  padding: 4px 0px;
  /* border: 0.5px solid wheat; */
  width: 10.57px;
  height: 19.76px;
}
.dell-MainBox5-B1-ProfileText-Text {
  min-width: 180px;
  height: 40px;
  margin-left: 6px;
}
.dell-MainBox5-B4-ProfileText {
  width: 280px;
  margin-left: 16px;
}
.dell-MainBox5-B5-ProfileText {
  width: 295px;
  margin-left: 16px;
}
.dell-MainBox5-B4-Profile-Content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.dell-MainBox5-B1-ProfileText-Text-Heading {
  width: 260px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #909dad;
}
.dell-MainBox5-B1-ProfileText-Text-Content {
  width: 260px;
  height: 18px;
  margin-top: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #909dad;
}
.dell-Content-MainBox6 {
  width: 946px;
  height: 806px;
  margin: 80px 247px;
}
.dell-Content-MainBox6-Title {
  width: 759px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.dell-Content-MainBox6-B1 {
  width: 946px;
  height: 702px;
  margin-top: 32px;
  border: 1px solid white;
}
.dell-Content-MainBox6-B1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dell-Content-MainBox7 {
  width: 946px;
  height: 324px;
  margin-left: 247px;
}
.dell-Content-MainBox7-B1 {
  width: 946px;
  height: 247px;
  margin-top: 32px;
  padding: 40px 56px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dell-Content-MainBox7-B1-TitleBox {
  width: 709px;
  height: 41px;
  display: flex;
}
.dell-Content-MainBox7-B1-TitleBox-Icon {
  width: 41px;
  height: 41px;
  margin-right: 17px;
  border-radius: 40px;
  background: #151a20;
}
.dell-Content-MainBox7-B1-TitleBox-Text {
  width: 651px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-Content-MainBox7-B1-Content {
  width: 718px;
  height: 107px;
  margin-top: 32px;
  margin-left: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #d6dff0;
}
.dell-Content-MainBox8 {
  width: 1440px;
  height: 1868px;
  margin-top: 80px;
  padding: 80px 247px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.dell-Content-MainBox8-Heading {
  width: 412px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-Content-MainBox8-Context {
  width: 895px;
  height: 66px;
  margin-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.dell-Content-MainBox8-B1 {
  width: 947px;
  height: 340px;
  margin-top: 49px;
  display: flex;
}
.dell-Content-MainBox8-B1-Box1 {
  width: 166px;
  min-height: 146px;
  margin-right: 8px;
}
.dell-Content-MainBox8-B1-Box4 {
  margin-right: 8px;
  width: 79px;
  height: 298px;
}
.dell-Content-MainBox8-B1-Box1-Title {
  width: 151px;
  height: 24px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  margin-left: 8px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.dell-Content-MainBox8-B1-Box1-ContentBox {
  width: 166px;
  height: 307px;
  margin-top: 9px;
  display: flex;
}
.dell-Content-MainBox8-B1-Box1-ContentBox-Left {
  width: 79px;
  min-height: 200px;
  margin-right: 8px;
}
.dell-Content-MainBox8-B1-Box1-ContentBox-Right {
  width: 79px;
  min-height: 200px;
}
.MainBox8-B1-Box1-ContentBox-Left-Box1 {
  width: 79px;
  padding: 8px;
  min-height: 36px;
  box-shadow: -4px 9px 4px rgba(0, 0, 0, 0.03), -3px 5px 3px rgba(0, 0, 0, 0.1),
    -1px 2px 2px rgba(0, 0, 0, 0.17), 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.dell-Content-MainBox8-B1-Box4-Title {
  width: 65px;
  height: 12px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  margin-left: 7px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b9b9b9;
  margin-bottom: 20px;
}
.MainBox8-B1-Box4-Box {
  width: 79px;
  margin-top: 8px;
  min-height: 36px;
  background: #b4d15f;
  box-shadow: -4px 9px 4px rgba(0, 0, 0, 0.03), -3px 5px 3px rgba(0, 0, 0, 0.1),
    -1px 2px 2px rgba(0, 0, 0, 0.17), 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.Pink {
  background: #d0717e;
}
.Yellow {
  background: #f7df50;
}
.Blue {
  background: #62c2bd;
}
.Orange {
  background: #e59e5f;
}
.LightBlue {
  background: #7ca8fa;
}
.DellPageHrColour {
  width: 989px;
  margin: 80px 0px;
  opacity: 0.5;
  border: 1px solid #7d7d7d;
}
.dell-Content-MainBox8-B2 {
  width: 947px;
  height: 590.5px;
  /* border: 1px solid white; */
}
.dell-Content-MainBox8-B3 {
  width: 946px;
  height: 351px;
  padding: 64px;
  margin-top: 80px;
  background: #151a20;
  border: 1px solid #3d4c5e;
  border-radius: 4px;
}
.dell-Content-MainBox8-B3-Heading {
  width: 232px;
  height: 23px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #b9b9b9;
}
.dell-Content-MainBox8-B3-Content {
  display: flex;
  margin-top: 32px;
  width: 756px;
  height: 168px;
}
.dell-Content-MainBox8-B3-Content-Left {
  width: 16px;
  height: 168px;
  margin-right: 16px;
}
.dell-Content-MainBox8-B3-Content-Right {
  width: 724px;
  height: 168px;
}
.dell-Content-MainBox8-B3-Content-Right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.dell-Content-MainBox8-B3Icon {
  /* border: 1px solid white; */
  width: 16px;
  height: 16px;
}
.Content-LeftBox-Icon1 {
  margin-top: 5px;
  margin-bottom: 56px;
}
.Content-LeftBox-Icon2 {
  margin-bottom: 32px;
}
.dell-Content-MainBox9 {
  width: 1164.08px;
  height: 1517px;
  margin-top: 80px;
  margin-left: 122px;
  /* border: 1px solid white; */
}
.dell-Content-MainBox9-Box1 {
  width: 787px;
  height: 109px;
  margin-left: 125px;
}
.dell-Content-MainBox9-Box1-Heading {
  width: 352px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-Content-MainBox9-Box1-Content {
  width: 787px;
  height: 52px;
  margin-top: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2bbc6;
}
.dell-Content-MainBox9-Box2 {
  width: 1071px;
  height: 416px;
  margin-top: 26px;
}
.dell-Content-MainBox9-Box2-left {
  width: 544px;
  height: 416px;
  position: relative;
  z-index: 1;
  /* border: 1px solid black; */
}
.dell-Content-MainBox9-Box2-Right {
  box-sizing: border-box;
  position: relative;
  width: 946px;
  height: 386px;
  left: 124px;
  top: -387px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  border: 1px solid rgba(91, 91, 91, 0.2);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dell-Content-MainBox9-Box2-Right-heading {
  width: 366px;
  height: 34px;
  margin-top: 64px;
  margin-left: 455px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.dell-Content-MainBox9-Box2-Right-Content {
  margin-top: 32px;
  margin-left: 470px;
  width: 427px;
  height: 192px;
}
.dell-Content-MainBox9-Box2-Right-Content ul li {
  font-family: "Inter";
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #d6dff0;
}
.dell-Content-MainBox9-Box3 {
  width: 1039.08px;
  height: 402px;
  margin-top: 80px;
  margin-left: 125px;
}
.dell-Content-MainBox9-Box3-Left {
  width: 946px;
  height: 402px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  border: 1px solid rgba(91, 91, 91, 0.2);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dell-Content-MainBox9-Box3-Right {
  width: 455.08px;
  height: 348px;
  /* border: 1px solid white; */
  position: relative;
  top: -380px;
  left: 583px;
}
.dell-Content-MainBox9-Box3-Left-Heading {
  width: 399px;
  height: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 64px;
  margin-left: 64px;
  color: #ffffff;
}
.dell-Content-MainBox9-Box3-Left-Content {
  width: 487px;
  height: 208px;
  margin-top: 32px;
  margin-left: 80px;
}
.dell-Content-MainBox9-Box3-Left-Content ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 18px;
  color: #d6dff0;
}
.dell-Content-MainBox9-Box4 {
  width: 1058px;
  height: 406px;
  margin-top: 80px;
  margin-left: 104px;
}
.dell-Content-MainBox9-Box4-Left {
  width: 544px;
  height: 416px;
  /* border: 1px solid white; */
  position: relative;
  top: -14px;
  left: -1px;
  z-index: 1;
}
.dell-Content-MainBox9-Box4-Right {
  width: 946px;
  height: 400px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  border: 1px solid rgba(91, 91, 91, 0.2);
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  top: -414px;
  left: 112px;
}
.dell-Content-MainBox9-Box4-Right-Heading {
  width: 361px;
  height: 34px;
  margin-top: 64px;
  margin-left: 455px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.dell-Content-MainBox9-Box4-Right-Content {
  width: 427px;
  height: 206px;
  margin-top: 32px;
  margin-left: 470px;
}
.dell-Content-MainBox9-Box4-Right-Content ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #d6dff0;
  margin-bottom: 22px;
}
.dell-Content-MainBox10 {
  border: 1px solid white;
  width: 1440px;
  height: 931px;
  background: #1d242d;
  margin-top: 120px;
  padding: 64px 247px;
}
.dell-Content-MainBox10-Title {
  border: 1px solid white;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-Content-MainBox10-TableBox {
  width: 946px;
  height: 724px;
  margin-top: 40px;
  border: 1px solid white;
}
.dell-Content-MainBox11 {
  width: 1440px;
  height: 1698px;
  background: linear-gradient(249.59deg, #005696 -5.13%, #123354 64.74%);
  opacity: 0.7;
  border-radius: 4px;
  padding: 88px 247px;
}
.dell-Content-MainBox11-TopBox {
  width: 946px;
  height: 689.01px;
  border: 1px solid white;
}
.dell-Content-MainBox11-TopBox-Heading {
  width: 808.48px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-Content-MainBox11-TopBox-Box {
  width: 946px;
  height: 612.01px;
  margin-top: 38px;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}
.dell-Content-MainBox11-TopBox-Box-FlextBox {
  width: 299px;
  height: 292.8px;
  border: 1px solid #353638;
  margin-right: 15.4px;
  margin-bottom: 26.4px;
}
.dell-Content-MainBox11-Hr {
  width: 1280px;
  margin-top: 72px;
  margin-bottom: 72px;
  opacity: 0.5;
  border: 1px solid #7d7d7d;
  margin-left: -170px;
}
.dell-my-learningBox {
  width: 946px;
  height: 330px;
  margin: 65px 247px 80px 247px;
  padding: 48px 56px;
  border: 1px solid rgba(91, 91, 91, 0.5);
border-radius: 4px;
}
.dell-my-learningBox-heading {
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.dell-my-learningBox-FlexBox {
  width: 824px;
  height: 174px;
  margin-top: 24px;
  display: flex;
}
.dell-my-learningBox-FlexBox-Left {
  width: 16px;
  height: 174px;
  margin-right: 8px;
}
.dell-my-learningBox-FlexBox-Right {
  /* width: 800px;
  height: 174px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.dell-my-learningBox-FlexBox-Left-Icon {
  width: 16px;
  height: 16px;
  /* border: 1px solid white; */
}
.learningIcon1 {
  margin-top: 6px;
}
.learningIcon2 {
  margin-top: 48px;
}
.learningIcon3 {
  margin-top: 50px;
}
.dell-DirectionsBox {
  width: 946px;
  height: 222px;
  margin-left: 247px;
  padding: 48px 56px;
  border: 1px solid rgba(91, 91, 91, 0.5);
border-radius: 4px;
}
.dell-BottomBox {
  margin: 80px 247px 65px 247px;
  width: 946px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.dell-BottomBox-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 16px;
  width: 257px;
  height: 48px;
  border: 1px solid #d6dff0;
  border-radius: 4px;
}
.dell-BottomBox-Right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 16px;
  width: 215px;
  height: 48px;
  border: 1px solid #d6dff0;
  border-radius: 4px;
}
.dell-BottomBox-Left-Icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  /* border: 1px solid white; */
}
.dell-BottomBox-Left-Text {
  height: 22px;
  margin-right: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d6dff0;
}
