.Home-Page {
  width: 96%;
  min-height: 1000px;
  margin: auto;
}
.Home-Page img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.homePageIcon {
  width: 116px;
  height: 116px;
  margin-top: 110px;
  margin-left: 45.5%;
}
.homePageTitle {
  width: 65%;
  height: 22px;
  margin-top: 32px;
  margin-left: 18%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #b2bbc6;
}
.homePageContent {
  width: 50.5%;
  min-height: 108px;
  margin-top: 32px;
  margin-left: 24.75%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #d6dff0;
}
.home-btn1 {
  width: 188px;
  height: 48px;
  margin-top: 32px;
  background: linear-gradient(180deg, #ed787b 0%, #df5b5d 100%);
  box-shadow: -63px 78px 40px rgba(123, 30, 35, 0.02),
    -35px 44px 34px rgba(168, 22, 30, 0.08),
    -16px 20px 25px rgba(185, 14, 23, 0.14),
    -4px 5px 14px rgba(143, 21, 27, 0.16), 0px 0px 0px rgba(123, 30, 35, 0.16);
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.homeCompanyBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 76px 73px;
  margin-top: 120px;
  gap: 93px;
  min-height: 191.16px;
  top: calc(50% - 191.16px / 2 - 1103.92px);
  background: linear-gradient(180deg, #29323e 0%, #1d242d 100%);
  border: 1px solid #3d4c5e;
  border-radius: 8px;
}
.homeCompanyIcon {
  width: 152.11px;
  height: 26.11px;
  margin: auto;
}
.homeProjectBox {
  width: 62.8%;
  min-height: 1650px;
  margin-top: 120px;
  margin-left: 18.6%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.homeProjectBox-Title {
  width: 341px;
  height: 62px;
  margin: auto;
}
.homeProjectBox-Title-Text {
  width: 341px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #d6dff0;
}
.homeProjectBox-Hr {
  width: 46px;
  height: 6px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #ed787b 0%, #df5b5d 100%);
  border-radius: 80px;
}
.homeProjectBox-Project1 {
  width: 100%;
  height: 329px;
  margin-top: 80px;
}
.homeProjectBox-Project1-left {
  position: relative;
  width: 710px;
  height: 329px;
  left: 0px;
  top: 0px;
  padding: 78px 48px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.homeProjectBox-Project1-Right {
  box-sizing: border-box;
  position: relative;
  width: 407px;
  height: 249px;
  left: 54.5%;
  top: -290px;
  border: 1px solid #3d4c5e;
  box-shadow: 2px 4px 24px 2px rgba(9, 11, 14, 0.5);
  border-radius: 8px;
}
.homeProjectBox-Project1-left-Title {
  width: 65%;
  height: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ec7a7d;
}
.homeProjectBox-Project1-left-Text {
  min-width: 167.61px;
  height: 24px;
  margin-top: 12px;
  display: flex;
}
.homeProjectBox-Project1-left-Text-icon {
  min-width: 20px;
  height: 20px;
  margin-right: 7.61px;
}
.homeProjectBox-Project1-left-TextLine {
  min-width: 350px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b2bbc6;
}
.homeProjectBox-Project1-left-Details {
  width: 377px;
  min-height: 36px;
  margin-top: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #28313c;
}
.homeProjectBox-Project1-left-Link {
  width: 150px;
  height: 18px;
  margin-top: 17px;
  display: flex;
  cursor: pointer;
}
.homeProjectBox-Project1-left-Link-Text {
  width: 110px;
  height: 18px;
  margin-right: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ec7a7d;
}
.homeProjectBox-Project1-left-Link-Icon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
.homeProjectBox-Project2-Left {
  box-sizing: border-box;
  position: relative;
  width: 407px;
  height: 249px;
  left: 0px;
  top: 40px;
  border: 1px solid #3d4c5e;
  box-shadow: 2px 4px 24px 2px rgba(9, 11, 14, 0.5);
  border-radius: 8px;
  z-index: 1;
}
.homeProjectBox-Project2-Right {
  width: 700px;
  position: relative;
  height: 329px;
  left: 29%;
  top: -250px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 228px 316px 156px rgba(0, 0, 0, 0.01),
    128px 178px 132px rgba(0, 0, 0, 0.05), 57px 79px 97px rgba(0, 0, 0, 0.09),
    14px 20px 54px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 76px 120px;
}
.homeProjectBox-Lower {
  width: 88%;
  min-height: 664px;
  margin-top: 120px;
  margin-left: 6%;
  margin-bottom: 80px;
}
.homeProjectBox-Lower-FlexBox {
  width: 73%;
    margin: auto;
    min-height: 498px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 104px;
}
.homeProjectBox-Lower-ProjectBox {
  width: 396px;
  margin-right: 20px;
  /* margin-left: 20px; */
  margin-bottom: 20px;
}
.homeProjectBox-Lower-ProjectBox-Top {
  box-sizing: border-box;
  position: relative;
  width: 396px;
  left: 0px;
  top: 0px;
  padding: 48px 39px 116px 32px;
  background: #1d242d;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 308px 123px rgba(0, 0, 0, 0.01),
    0px 173px 104px rgba(0, 0, 0, 0.05), 0px 77px 77px rgba(0, 0, 0, 0.09),
    0px 19px 42px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.homeProjectBox-Lower-ProjectBox-Top-Heading {
  width: 322px;
  height: 68px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #d6dff0;
}
.homeProjectBox-Lower-ProjectBox-Top-TitleBox {
  min-width: 150px;
  height: 24px;
  margin-top: 16px;
  display: flex;
}
.homeProjectBox-Lower-ProjectBox-Top-TitleBox-Icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.homeProjectBox-Lower-ProjectBox-Top-TitleBox-Text {
  width: 332px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
}
.homeProjectBox-Lower-ProjectBox-Top-Details {
  width: 297px;
  min-height: 36px;
  margin-top: 16px;
  margin-left: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2bbc6;
}
.margin28 {
  margin-left: 28px;
}
.homeProjectBox-Lower-ProjectBox-Lower {
  box-sizing: border-box;
  position: relative;
  width: 332px;
  height: 216px;
  left: 32px;
  top: -86px;
  border: 1px solid #3d4c5e;
  box-shadow: 2px 4px 24px 2px rgba(9, 11, 14, 0.5);
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .homeProjectBox{
    width: 80%;
    min-height: 1200px;
    border: 1px solid white;
    margin:40px auto;
  }
  .homeProjectBox-Title-Text{
    font-size: 26px;
  }
  .homeProjectBox-Project1 {
    height: auto;
    width: 90%;
    margin: 35px auto;
  }
  .homeProjectBox-Project1-left {
    width: 100%;
    height: auto;
    padding: 50px 24px;
    /*top: 0px;
    left: 0px;
    padding: 45px; */
  }
  .homeProjectBox-Project1-left-Title {
    width: 100%;
    font-size: 26px;
    line-height: 0px;
    text-align: center;
  }
  .homeProjectBox-Project1-Right {
    display: none;
  }

  .homeProjectBox-Project1-left-Text {
    display: none;
  }

  .homeProjectBox-Project1-left-Text-icon {
    margin-right: 10px;
  }

  .homeProjectBox-Project1-left-TextLine {
    width: 100%;
  }

  .homeProjectBox-Project1-left-Details {
    width: 100%;
    text-align: center;
    color: whitesmoke;
  }

  .homeProjectBox-Project1-left-Link {
    width: 80%;
    justify-content: center;
    margin-top: 30px;
  }
  .homeProjectBox-Lower-ProjectBox-Lower{
    display: none;
  }
  .homeProjectBox-Project1-left-Link-Text {
    width: auto;
    margin-right: 0;
    text-align: center;
  }

  .homeProjectBox-Project1-left-Link-Icon {
    margin-left: 5px;
  }

  .homeProjectBox-Project2-Left {
    display: none;
  }

  .homeProjectBox-Project2-Right {
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    padding: 50px 24px;
  }
  .homeProjectBox-Lower{
    width: 80%;
    margin: auto;
  }
  .homeProjectBox-Lower-FlexBox {
    margin-top: 40px;
    border: 1px solid white;
}
.homePageIcon{
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.homePageContent{
  width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
}
.homeCompanyBox{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.homeProjectBox-Lower-ProjectBox {
  width: 100%;
}
.homeProjectBox-Lower-ProjectBox-Top{
  width: 100%;
  padding: 40px;
}
.homeProjectBox-Lower-ProjectBox-Top-Heading{
  width: 100%;
    font-size: 24px;
    text-align: center;
    height: auto;
}
.homeProjectBox-Lower-ProjectBox-Top-TitleBox-Text{
  width: 90%;
    font-size: 12px;
}
.homeProjectBox-Lower-ProjectBox-Top-Details{
  width: 90%;
    margin: auto;
    margin-top: 30px;
}
.homeProjectBox-Lower-ProjectBox-Top-TitleBox{
  display: none;
}
}
.btnbox{
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}