#home-images {
  background: linear-gradient(180deg, #29323e 0%, #1d242d 100%);
  border: 1px solid #3d4c5e;
  border-radius: 8px;
}
.red-underline {
  width: 46px;
  height: 6px;
  background: linear-gradient(180deg, #ed787b 0%, #df5b5d 100%);
}
