*{
    margin: 0;
}
.workMainContainer{
    width: 99.8%;
    min-height: 500px;
    margin-top: 15px;
}
.MainContainer{
    width: 65%;
    min-height: 500px;
    margin-top: 15px;
    margin: auto;
}
.featuredBoxMain{
    width: 100%;
    min-height: 417px;
    margin-top: 40px;
}
.otherBoxMain{
    width: 100%;
    min-height: 417px;
    margin-top: 82px;
}
.titleBox{
    width: 90%;
    height: 28px;
    font-size: 24px;
    line-height: 28.15px;
    font-weight: 600;
    color: #D6DFF0;
    margin: 10px 0px 16px 16px;
}
.featureBox{
    width: 100%;
    min-height: 353px;
    display: flex;
    flex-wrap: wrap;
}
.featureContent{
    border: 2px solid #3D4C5E;
    border-radius: 8px;
    width: 294px;
    min-height: 353px;
    margin: 20px 12px 20px 16px;
}
.contentImage{
    width: 246px;
    height: 160px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 24px 24px 32px 24px;
}
.contentTextBox{
    width: 246px;
    height: 110px;
    /* border: 1px solid black; */
    margin: 24px 24px 24px 24px;
}
.titleYear{
    width: 90%;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #909DAD;
}
.titleName{
    width: 102%;
    height: 28px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28.15px;
    font-weight: 600;
    color: #D6DFF0;
}
.companyName{
    width: 90%;
    height: 19px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #909DAD;
}
@media only screen and (max-width: 768px){
    .featureBox {
        justify-content: center;
    }
    .MainContainer {
        width: 100%;
    }
    .titleBox {
        text-align: center;
    }
    .featuredBoxMain {
        width: 94%;
        margin-top: 16px;
    }
    .otherBoxMain {
        margin-top: 20px;
        width: 94%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .MainContainer {
        width: 100%;
    }
    .featuredBoxMain {
        margin-top: 16px;
        margin-left: 6px;
    }
    .otherBoxMain {
        margin-top: 40px;
    }
}