* {
  margin: 0;
}
.footer{
  opacity: 0.5;
  background: #090b0e;
}
.footer-MainBox {
  width: 95%;
  height: 248px;
  background: #090b0e;
  padding-top: 1px;
  margin: auto;
}
.footer-TopBox {
  width: 26%;
  height: 95px;
  margin: 48px 37% 0px 37%;;
}
.footer-TopBox-Heading {
  width: 230px;
  height: 39px;
  margin-left: 68.5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #b2bbc6;
}
.footer-TopBox-Text {
  width: 367px;
  height: 32px;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #b2bbc6;
}
.Footer-Hr {
  width: 88%;
    border: 0.5px solid #3d4c5e;
    margin-top: 32.5px;
    margin-left: 6%;
}
.footer-BottomBox {
  width: 90%;
    height: 25px;
    margin: 24px 5% 24px 5%;
    display: flex;
    justify-content: space-between;
}
.footer-BottomBox-Box1 {
  width: 13%;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.footer-BottomBox-Box1-Icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.footer-BottomBox-Box1-Text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
  margin-top: 3px;
}
.footer-BottomBox-Box2 {
  width: 43%;
  height: 24px;
  display: flex;
  margin-right: 151px;
}
.footer-BottomBox-Box2-B1 {
  height: 19px;
  margin-right: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
  margin-top: 3px;
}
.footer-BottomBox-Box2-B2 {
  height: 19px;
  margin-right: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
  margin-top: 3px;
}
.footer-BottomBox-Box2-B3 {
  height: 19px;
  margin-right: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
  margin-top: 3px;
}
.footer-BottomBox-Box2-B4 {
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
  margin-top: 3px;
}
.footer-BottomBox-Box3 {
  width: 24%;
  height: 24px;
  display: flex;
}

@media screen {
}
