.link-active{
  color: #ffffff;
  font-weight: 400;
}
.footer-navs * {
  color: #909dad;
}
.footer-navs {
  display: flex;
  justify-content: space-between;
}
.bottom-border {
  border: 0.5px solid #3d4c5e;
}
.footer-contents h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 24px;
  color: #b2bbc6;
}
.footer-contents p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 30%;
  text-align: center;
  color: #b2bbc6;
}
.footer-contents div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909dad;
}
.image-container-nav {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #b2bbc6;
  display: flex;
  justify-content: center;
}
.image-container-nav > img {
  margin: auto;
  width: fit-content;
}
.back-to-top {
  position: fixed;
  width: 100%;
  left: 95%;
  bottom: 40px;
  height: 20px;
  z-index: 99;
  cursor: pointer;
  color: white;
}
.dark-mode-ln{
  border: 1px solid #EC7A7D;
}
@media screen {
}
