.tripp-intro-card {
  width: 95%;
  min-height: 500px;
  margin: auto;
  margin-top: 76px;
}
.context-background-tripp p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b2bbc6;
  width: 100%;
}
.solution-tripp {
  background: linear-gradient(227.16deg, #292240 -2.62%, #701c49 74.06%);
  border-radius: 8px;
  padding: 48px 56px;
}
.solution-tripp h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;
}
.solution-tripp div {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #b2bbc6;
}
.solution-tripp > div {
  margin-left: 4%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.solution-tripp > div img {
  width: 500%;
}
.research-tripp > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
  width: 100%;
}
.user-target-tripp {
  background: #151a20;
  border-radius: 4px;
  padding: 40px 48px;
}
.user-target-tripp h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #b9b9b9;
}
.users-tripp div {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.user-type-tripp {
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 20px !important;
}
.demographies-tripp div {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.demographies-tripp ul {
  list-style: disc;
  margin-left: 20px;
}
.demographies-tripp li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #909dad;
  margin-top: 5px;
}
.demography-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #b2bbc6;
  margin-top: 32px;
}
.demographies-tripp > div {
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  padding: 26px 20px;
  width: 31%;
}
.personality-tripp > div {
  border: 1px solid #3d4c5e;
  border-radius: 4px;
  width: 49%;
  padding: 26px 20px;
}
.personality-tripp div {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #b2bbc6;
}
.personality-tripp li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #909dad;
}
.personality-tripp ul {
  list-style: disc;
  margin-left: 15px;
}
.personality-tripp li {
  margin-top: 5px;
}
.down-buttons-tripp div {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b2bbc6;
  background: #1d242d;
  border-radius: 80px;
  padding: 6px 12px;
}
.user-testimonial-tripp > div {
  display: flex;
}
.user-verbatism-tripp {
  background: #151a20;
  border: 1px solid #3d4c5e;
  box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
    0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
    0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #d6dff0;
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
}
