* {
    margin: 0;
  }
  .verizonMainBox {
    width: 95%;
    min-height: 500px;
    margin: auto;
  }
  .verizonBox {
    display: flex;
  }
  .verizonContentBox {
    width: 598px;
    height: 345px;
    margin: 76px 703px 56px 139px;
  }
  .verizonTeamBox {
    width: 616px;
    height: 95px;
    margin-left: 139px;
  }
  .teamText {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #b2bbc6;
  }
  .teamMemberBox {
    display: flex;
    margin-top: 19px;
  }
  .teamMember1 {
    width: 252px;
    height: 52px;
    display: flex;
  }
  .memberIcon {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    border: 1px solid white;
  }
  .memberDetail {
    width: 182px;
    height: 48px;
    margin-left: 19px;
    margin-top: 1px;
  }
  .memberName {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #d6dff0;
  }
  .memberRole {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #b2bbc6;
  }
  .teamMember2 {
    width: 306px;
    height: 52px;
    margin-left: 70px;
    display: flex;
  }
  .verizonRightBox {
    width: 925px;
    height: 660px;
    border: 1px solid white;
    margin: -26px 0px 0px -924px;
  }
  .verizonPODBox {
    width: 80%;
    height: 75px;
    margin-top: -6px;
    margin-left: 9.65%;
    display: flex;
  }
  .PODbox1 {
    width: 361px;
    height: 75px;
  }
  .podtitle1 {
    font-size: 14px;
    font-weight: 700;
    color: #d6dff0;
  }
  .podtitle2 {
    font-size: 12px;
    font-weight: 400;
    color: #b2bbc6;
  }
  .PODbox2 {
    width: 268px;
    height: 75px;
    margin-left: 56px;
  }
  .PODbox3 {
    width: 206px;
    height: 75px;
    margin-left: 49px;
  }
  .verizonContext {
    width: 946px;
    height: 221px;
    margin-top: 117px;
    margin-left: 247px;
  }
  .verizonContextTitle {
    width: 341px;
    height: 36px;
    margin: 40px 0px 0px 58px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    color: #e1e8f5;
  }
  .verizonContextDetail {
    width: 791px;
    height: 73px;
    margin: 32px 0px 0px 56px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #d6dff0;
  }
  .verizonTitleIconBox1 {
    width: 178.07px;
    height: 40px;
    border: 1px solid white;
  }
  .verizonTitleIconBox2 {
    width: 196px;
    height: 28px;
    margin-top: 16px;
    font-weight: 600;
    line-height: 24px;
    font-size: 40px;
    color: #b9b9b9;
  }
  .verizonContent {
    width: 598px;
    height: 149px;
    margin-top: 24px;
  }
  .firstLine {
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    color: #fbfbfb;
  }
  .secondLine {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 13px;
    color: #b2bbc6;
  }
  .verizonDateBox {
    width: 350px;
    height: 48px;
    margin-top: 40px;
    display: flex;
  }
  .DateBoxLeft {
    width: 182px;
    height: 48px;
  }
  .DateBoxRight {
    width: 110px;
    height: 48px;
    margin-left: 57px;
  }
  .timeline {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #b2bbc6;
  }
  .time {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
  }
  .verizonAskBox {
    width: 946px;
    height: 315px;
    margin-top: 40px;
    margin-left: 247px;
  }
  .verizonAskBoxContent {
    width: 683px;
    height: 167px;
    display: flex;
    margin: 33px 0px 0px 56px;
  }
  .verizonAskBoxContentLeft {
    width: 24px;
    min-height: 160px;
    margin-top: 11px;
  }
  .verizonAskBoxContentRight {
    width: 643px;
    height: 167px;
    margin-left: 16px;
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
    color: #d6dff0;
  }
  .askboxLeftIcon {
    width: 24px;
    height: 24px;
    border: 1px solid white;
  }
  .greenIcon1 {
    margin-bottom: 36px;
  }
  .greenIcon2 {
    margin-bottom: 40px;
  }
  
  .verizonPrimaryBox {
    width: 946px;
    height: 440px;
    margin-top: 33px;
    margin-left: 247px;
  }
  .primaryBoxTitle {
    width: 341px;
    height: 36px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    color: #e1e8f5;
    text-align: center;
    margin: 47px 0px 0px 56px;
  }
  .primaryboxContentBox {
    width: 827px;
    height: 291px;
    margin: 33px 0px 0px 56px;
    display: flex;
  }
  .primaryBoxContext {
    width: 259px;
    height: 291px;
    margin-right: 23px;
    border-radius: 4px;
    padding: 32px;
    background-color: #151a20;
  }
  .primaryContext1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    color: #d6dff0;
  }
  .primaryContext2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #b2bbc6;
  }
  ul li {
    list-style: disc;
    color: #b2bbc6;
  }
  .verizonHr1 {
    width: 1280px;
    margin-left: 75px;
    color: #3d4c5e;
    margin-top: 83px;
  }
  .verizonChellengesBox {
    width: 1280px;
    height: 572px;
    margin-left: 75px;
  }
  .ChellengesTitle {
    margin: 64px 0px 0px 172px;
    font-size: 32px;
    line-height: 38.73px;
    font-weight: 700;
    color: #b9b9b9;
  }
  .chellengesMainBox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 172px;
  }
  .chellengesBox1 {
    width: 296px;
    height: 186px;
    margin: 32px 29px 29px 0px;
    padding: 24px 32px 39px 32px;
    border: 1px solid rgba(91, 91, 91, 0.2);
    border-radius: 4px;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .chellengesBox2 {
    width: 296px;
    height: 222px;
    margin-right: 29px;
    margin-bottom: 64px;
    padding: 32px;
    border: 1px solid rgba(91, 91, 91, 0.2);
    border-radius: 4px;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .verizonHr2 {
    width: 1280px;
    margin-left: 75px;
    color: #3d4c5e;
  }
  .verizonHr3 {
    width: 1280px;
    margin-left: 75px;
    margin-bottom: 83px;
    color: #3d4c5e;
    margin-top: 16px;
  }
  .chellengesTitle {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .chellengesContext {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #d6dff0;
  }
  .verizonResearchMainBox {
    width: 1280px;
    min-height: 2043px;
    margin: auto;
  }
  .researchContextBox {
    width: 908px;
    height: 128px;
    margin-left: 187px;
  }
  .ResearchTitle {
    font-size: 32px;
    line-height: 38.73px;
    font-weight: 700;
    color: #b9b9b9;
  }
  .researchContext {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #d6dff0;
  }
  .researchExperienceBox {
    width: 946px;
    height: 327px;
    margin-left: 187px;
    margin-top: 64px;
  }
  .researchExprienceTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.46px;
    color: #b9b9b9;
  }
  .researchContentMainBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .researchContentBox {
    width: 248px;
    height: 264px;
    border-radius: 4px;
    margin-right: 65px;
  }
  .researchContentBoxIcon {
    width: 123px;
    height: 123px;
    border: 0.1px solid;
    margin: auto;
    border-radius: 72px;
    background: linear-gradient(255255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .ContentBoxTextTitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #d6dff0;
    text-align: center;
  }
  .ContentBoxTextContext {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #b2bbc6;
    text-align: center;
  }
  .centerTitle {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #d6dff0;
  }
  .researchContentBoxText {
    width: 248px;
    height: 117px;
    margin-top: 24px;
  }
  .verizonHr4 {
    color: #3d4c5e;
    margin-top: 64px;
  }
  .verizonSerchMainBox {
    width: 978px;
    height: 440px;
    margin-left: 187px;
  }
  .verizonSerchMainBoxTitle {
    margin: 64px 0px 0px 0px;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: -2%;
    font-weight: 500;
    color: #b9b9b9;
  }
  .verizonSerchMainBoxContextBox {
    width: 100%;
    height: 409px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .verizonSerchMainBoxContent {
    border: 1px solid rgba(91, 91, 91, 0.2);
    width: 455px;
    border-radius: 4px;
    height: 171px;
    margin-right: 32px;
    margin-bottom: 32px;
    padding: 32px 40px;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .searchBoxtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
  }
  .searchBoxcontent {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #d6dff0;
  }
  .ResearchMainBox {
    width: 946px;
    min-height: 835px;
    margin-top: 64px;
    margin-left: 187px;
  }
  .ResearchMainBoxTitle {
    font-size: 20px;
    line-height: 23.46px;
    font-weight: 500;
    color: #b9b9b9;
  }
  .ResearchMainBoxTitleTablebox {
    width: 946px;
    height: 599px;
    margin-top: 24px;
  }
  td {
    border: 1px solid #3d4c5e;
    text-align: left;
    padding: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #d6dff0;
  }
  th {
    width: 24%;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    padding: 14px;
    border: 1px solid #3d4c5e;
    text-align: left;
    background: linear-gradient(255.4deg, #713624 10.48%, #4e0d09 100%);
  }
  .verizonkeyBox {
    width: 946px;
    height: 234px;
    margin-top: 24px;
    padding: 40px 48px 40px 40px;
  }
  .keyBoxTitle {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .keyBoxContent {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #b9b9b9;
  }
  .verizonKeyInsightsMainBox {
    width: 100%;
    height: 613px;
    margin-top: 82px;
    padding: 81px 247px 68px 247px;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .KeyInsightsTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: #b9b9b9;
  }
  .KeyInsightsTitleDetails {
    width: 908px;
    height: 54px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 32px;
    color: #d6dff0;
  }
  .KeyInsightsContentBox {
    width: 946px;
    height: 294px;
    margin-top: 48px;
  }
  .tableTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    color: #d6dff0;
    margin-top: 16px;
    margin-bottom: 7px;
  }
  .keytablepadding {
    padding: 15px;
    width: 30%;
  }
  .textColor {
    color: #b2bbc6;
    line-height: 18px;
  }
  .tableContent {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #b2bbc6;
  }
  .verizonExperienceBusinessMainBox {
    width: 946px;
    height: 1850px;
    border: 1px solid #5b5b5b;
    margin: 88px 247px 0px 247px;
  }
  .ExperienceBusinessTitleBox {
    width: 100%;
    height: 126px;
  }
  .ExperienceBusinessTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: #b9b9b9;
  }
  .ExperienceBusinessTitle1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #d6dff0;
    margin-top: 32px;
  }
  .ExperienceBusinessTitlecontent {
    width: 100%;
    height: 376px;
    margin-top: 56px;
    display: flex;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
  }
  .ExperienceBusinessTitlecontentLeft {
    width: 334px;
    height: 335px;
    margin: 16px 36px 25px 49px;
    border: 1px solid white;
  }
  .ExperienceBusinessTitlecontentRight {
    margin: 51px 0px 51px 0px;
    width: 427px;
    height: 274px;
  }
  .ExperienceBusinessTitlecontentNumber {
    width: 98px;
    height: 242px;
    position: relative;
    top: -25px;
    right: 38px;
    font-size: 200px;
    font-weight: 700;
    line-height: 242.05px;
    opacity: 3%;
    color: #ffffff;
  }
  .ExperienceBusinessTitlecontentRightTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    color: #ffffff;
  }
  .ExperienceBusinessTitlecontentRightContent {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    margin: 24px 0px 0px 18px;
  }
  .ExperienceBusinessTitlecontentLeft2 {
    width: 427px;
    height: 292px;
    margin: 46px 0px 38px -62px;
  }
  .ExperienceBusinessTitlecontentNumbereven {
    position: relative;
    top: -24px;
    left: 15px;
    width: 126px;
    height: 242px;
    font-size: 200px;
    font-weight: 700;
    line-height: 242.05px;
    opacity: 3%;
    color: #ffffff;
  }
  .ExperienceBusinessTitlecontentRight2 {
    width: 373px;
    height: 344px;
    border: 1px solid white;
    margin: 11px 20px 21px 62px;
  }
  .verizonDesignSolutionMainBox {
    width: 100%;
    height: 520px;
    margin-top: 92px;
    background-color: rgba(22, 22, 22, 0.9);
    padding: 110px 394px 109px 395px;
  }
  .verizonDesignSolutionContentBox {
    width: 651px;
    height: 301px;
  }
  .verizonDesignSolutionContentIcon {
    width: 56.18px;
    height: 54.33px;
    margin-left: 297px;
    border: 1px solid white;
  }
  .verizonDesignSolutionContentTitle {
    width: 651px;
    height: 36px;
    margin-top: 20.67px;
    font-size: 32px;
    line-height: 38.73px;
    font-weight: 700;
    color: #b9b9b9;
    text-align: center;
  }
  .verizonDesignSolutionContentTitleContent {
    width: 524px;
    height: 150px;
    margin-top: 40px;
    margin-left: 64px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #d6dff0;
  }
  .verizonComparativeMainBox {
    width: 946px;
    min-height: 877px;
    margin: 92px 247px 0px 247px;
  }
  .ComparativeTitleBox {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: #b9b9b9;
  }
  .ComparativeTableMainBox {
    width: 100%;
    min-height: 798px;
    margin-top: 40px;
    border-radius: 4px;
  }
  .verizonMyImpactMainBox {
    width: 946px;
    min-height: 1150px;
    margin: 99px 247px 0px 247px;
    padding: 56px 64px;
    background: linear-gradient(255.4deg, #713624 10.42%, #4e0d09 100%);
    border: 1px solid rgba(91, 91, 91, 0.2);
    box-shadow: 0px 312px 125px rgba(0, 0, 0, 0.01),
      0px 176px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
      0px 20px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .myImpactTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: #b9b9b9;
  }
  .myImpactTitleContent {
    width: 778px;
    height: 67px;
    margin: 24px 40px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #d6dff0;
  }
  .myImpactContentBox {
    width: 741px;
    height: 330px;
    margin: 38px 56px 0px 21px;
    display: flex;
  }
  .myImpactContentleft {
    width: 23.65px;
    height: 330px;
  }
  .myImpactContentRight {
    width: 701px;
    height: 330px;
    margin-left: 16.35px;
  }
  .myImpactContentTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #d6dff0;
  }
  .myImpactContentContext {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #b2bbc6;
  }
  .myImpactContentleftIcon {
    width: 23.5px;
    height: 23.5px;
    border: 1px solid white;
    margin-bottom: 92.6px;
  }
  .verizonPredictionMainBox {
    width: 818px;
    height: 495px;
    margin-top: 48px;
    padding: 48px 56px;
    background: #151a20;
    border-radius: 4px;
  }
  .verizonPredictionTitle {
    font-size: 24px;
    line-height: 18px;
    font-weight: 600;
    color: #d6dff0;
    margin-bottom: 24px;
  }
  .verizonPredictionContentBox {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    color: #d6dff0;
  }
  .verizonPredictionLeft {
    width: 24.93px;
    height: 355px;
  }
  .verizonPredictionRight {
    width: 669px;
    height: 355px;
    margin-left: 12.08px;
  }
  .verizonPredictionIcon {
    width: 24.92px;
    height: 24.93px;
    border: 1px solid white;
    margin-bottom: 69.07px;
    margin-top: 5px;
  }
  .verizonLearningBox1 {
    width: 946px;
    height: 369px;
    border: 1px solid #b9b9b9;
    margin: 110px 247px 0px 247px;
    padding: 56px 64px;
    border-radius: 4px;
  }
  .verizonLearningBox1Title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: #b9b9b9;
  }
  .verizonLearningBox1ContentBox {
    width: 818px;
    height: 194px;
    margin-top: 24px;
    display: flex;
  }
  .verizonLearningBox1Left {
    width: 16px;
    height: 194px;
  }
  .verizonLearningBox1Right {
    width: 786px;
    height: 194px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #d6dff0;
  }
  .verizonLearningIcon {
    width: 16px;
    height: 16px;
    border: 1px solid white;
    margin-top: 3px;
    margin-bottom: 90px;
  }
  .verizonLearningBox2 {
    width: 946px;
    height: 394px;
    border: 1px solid #b9b9b9;
    margin-top: 48px;
    margin-left: 247px;
    border-radius: 4px;
    padding: 56px 64px;
  }
  .verizonLearningBox2ContentBox {
    width: 818px;
    height: 208px;
    margin-top: 24px;
    display: flex;
  }
  .verizonLearningBox2Left {
    width: 16px;
    height: 208px;
  }
  .verizonLearningBox2Right {
    width: 786px;
    height: 208px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #d6dff0;
  }
  .verizonLearningBox2Icon {
    width: 16px;
    height: 16px;
    border: 1px solid white;
    margin-top: 56px;
  }
  .verizonLearningBox2Icon2 {
    width: 16px;
    height: 16px;
    border: 1px solid white;
    margin-top: 85px;
  }
  .verizonLearningBox3 {
    width: 946px;
    height: 394px;
    margin-top: 48px;
    margin-left: 247px;
    padding: 56px 64px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
  }
  .verizonLearningBox3Title{
      font-size: 32px;
      font-weight: 700;
      line-height: 38.73px;
      color: #b9b9b9;
  }
  .verizonLearningBox3ContentBox{
      width: 818.02px;
      height: 202px;
      border: 1px solid black;
      margin-top: 39px;
  }
  .verizonLearningBox4 {
    width: 946px;
    height: 48px;
    margin-top: 48px;
    margin-left: 247px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
  }
  .verizonLearningBox4Content {
    width: 257px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #d6dff0;
    padding: 13px 17px;
    display: flex;
  }
  .verizonPreviousIcon {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin-right: 8px;
  }
  .verizonPreviousText {
    width: 200px;
    height: 22px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #d6dff0;
  }
  .verizonNextText {
    width: 174px;
    margin-left: 10px;
    height: 22px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #d6dff0;
  }
  .verizonNextIcon {
    width: 24px;
    height: 24px;
    border: 1px solid white;
  }
  