@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  box-sizing: border-box;
}
p {
  font-size: 12px;
  font-weight: 400;
  color: #d6dff0;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
